{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Benutzername</label>
                    <input type="text" class="form-control" name="username"
                           placeholder="Ihr Benutzername">
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input type="password" class="form-control" name="password" placeholder="Ihr Passwort">
                </div>
                <button type="submit" class="btn btn-primary">Anmelden</button>
            </form>
            <p class="mt-2">Sie haben kein Konto? <a href="{% url 'users:registration' %}">Registrieren</a></p>
            </div>
        </div>
    </div>
{% endblock %}