{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-3">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}

                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Registrieren</button>
            </form>
            <p class="mt-2">Sie haben ein Konto? <a href="{% url 'users:login' %}">Anmelden</a></p>

            </div>
        </div>
    </div>
{% endblock %}