{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-3">
                <h1>Was möchten Sie wisssen?</h1>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}

                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Frage erstellen</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}