{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-3">
                <h1>{{ poll }}</h1>
                <hr>
                <div class="mb-3">

                    <button class="btn btn-light btn-lg btn-block type="button" data-toggle="collapse"
                            data-target="#poll_edit_collapse" aria-expanded="false"
                            aria-controls="collapseExample">Bisherige Antworten
                    </button>

                    <div class="collapse" id="poll_edit_collapse">
                        <div class="card card-body">
                            {% for choice in poll.choice_set.all%}
                                <ul class="list-group list-group-flush">

                                    <li class="list-group-item">{{ choice.choice_text }}
                                     <a href="{% url 'pollpy:delete_choice' choice.id %}"
                                        class="btn btn-danger btn-sm float-right ml-1"
                                        onclick="return confirm('Möchten Sie wirklich die Antwort löschen?');">Löschen</a>
                                     <a href="{% url 'pollpy:edit_choice' choice.id %}"
                                        class="btn btn-info btn-sm float-right">✎ Bearbeiten</a>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}

                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Frage bearbeiten</button>
                                <a href="{% url 'pollpy:delete_poll' poll.id %}"
                   class="btn btn-danger ml-1"
                   onclick="return confirm('Damit werden auch alle dazugehörigen Fragen gelöscht.');">Frage löschen</a>
                </form>


            </div>
        </div>
    </div>
{% endblock %}