{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-3">
                <h1>{{ choice.poll }}</h1>
                <hr>

                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}

                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit"
                            class="btn btn-primary">
                        Antwort bearbeiten</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}