{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h1>{{ poll }}</h1>
                <div class="card mt-3">
                <h5 class="card-header">{{ poll.participant_count }} Teilnehmer</h5>
                <div class="card-body">
                    {% for choice_result in results%}
                        <h5 class="card-title">{{ choice_result.choice_text }} - Stimmen: {{ choice_result.vote_count }}</h5>
                        <div class="progress mb-3" style="height: 30px;">
                        <div class="progress-bar bg-info" role="progressbar"
                             style="width:{{choice_result.percentage}}%; font-size:20px">{{ choice_result.percentage }}%</div>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}