{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h1>{{ poll }}</h1>
                <hr>
                <div class="card mt-3">
                    <h5 class="card-header">Wie lautet Ihre Antwort auf diese Frage?</h5>
                    <div class="card-body">
                    <form action="{% url 'pollpy:vote' poll.id %}" method="post">
                    {% csrf_token %}
                    {% for choice in poll.choice_set.all%}


                        <label for="choice {{ forloop.counter }}" class="radio-choice-vote">{{ choice.choice_text }}
                          <input type="radio" class="radio-choice-vote" name="choice"
                               id="choice {{ forloop.counter }}"
                               value="{{ choice.id }}">
                          <span class="checkmark"></span>
                        </label>
                    {% endfor %}
                    <input type="submit" value="Beantworten" class="btn btn-primary"
                           {% if not only_vote_once %}disabled{% endif %}>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}