{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h1>Pollpy entdecken</h1>
                <hr>

                <ul class="nav justify-content-end">
                  <li>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2"
                               type="search"
                               placeholder="Ihre Frage finden"
                               aria-label="Search"
                               name="search"
                                value="{{ request.GET.search }}">
                        <button class="btn btn-outline-success my-2 my-sm-0"
                                type="submit">Suchen</button>
                      </form>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if 'title' in request.GET %}disabled{% endif %}"
                      href="?title">A-Z</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if 'pub_date' in request.GET %}disabled{% endif %}"
                       href="?pub_date">Datum</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if 'trends' in request.GET %}disabled{% endif %}"
                       href="?trends">Trends</a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'pollpy:add' %}"
                        class="btn btn-primary">Frage erstellen</a>
                  </li>
                </ul>

                {% for poll in polls%}

                <div class="card mt-3">
                    <h5 class="card-header bg-dark text-white">
                        {{ poll.text }}
                        {% if request.user == poll.author %}
                            <a href="{% url 'pollpy:edit_poll' poll.id %}"
                               class="btn btn-info btn-sm float-right">✎ Bearbeiten</a>
                        {% endif %}
                    </h5>
                    <a href="{% url 'pollpy:detail' poll.id %}" style="text-decoration: none; color: black;">
                        <div class="card-body" id="poll_list_card">
                            <p class="card-text">Erstellt von: {{ poll.author }} am {{ poll.pub_date }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center mt-3">
                  {% if polls.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&{{ parameter }}" tabindex="-1">Erste</a>
                    </li>
                  {% endif %}

                  {% for num in polls.paginator.page_range %}
                      {% if num == polls.number %}
                          <li class="page-item" disabled><a class="page-link">{{ num }}</a></li>
                      {% elif  num > polls.number|add:'-2' and num < polls.number|add:'2' %}
                          <li class="page-item"><a class="page-link" href="?page={{ num }}&{{ parameter }}">{{ num }}</a></li>
                      {% endif %}
                  {% endfor %}

                  {% if polls.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ polls.paginator.num_pages }}&{{ parameter }}">Letzte</a></li>
                  {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}