{% extends 'base.html' %}

{% block content %}


    <section class="mt-5 mb-5 pt-5 pb-5 text-white" id="pollpy_index">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="index_content">
                        <h1 style="font-size: 85px">Pollpy</h1>
                        <p class="lead">Antworten zu unterschiedlichsten Fragen erhalten.</p>
                        <a href="{% url 'pollpy:list' %}" class="btn btn-success">Loslegen</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary text-white mt-5 mb-5 pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Ihre Stimme zählt</h2>
              <p class="lead">Jeder kann bei uns Fragen stellen,
                  die unsere Community in kürzester Zeit beantwortet.
                  Sie finden bei uns Fragen zu (fast) allen Themen.</p>
            </div>
          </div>
        </div>
    </section>

    <section class="bg-light mt-5 mb-5 pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Über Pollpy</h2>
              <p class="lead">Pollpy ist eine Frage-Antwort-Plattform.
                  Wir bringen Menschen zusammen und eröffnen Ihnen neue Perspektiven.
                  Bei uns können Sie Wissen, Erfahrung und Meinungen mit anderen teilen
                  und entdecken. Pollpy steht für einen persönlichen und offenen
                  Austausch untereinander – zu jeder Zeit und überall.
                  So entsteht eine große Themen- und Meinungsvielfalt.</p>
            </div>
          </div>
        </div>
    </section>

    <section class="bg- mt-5 mb-5 pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Fragen und Antworten!</h2>
              <p class="lead">Erhalte ein Meinungsbild über deine Frage in wenigen Minuten.</p>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
